{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Contentid</th>
                <td>{{ mail.contentId }}</td>
            </tr>
            <tr>
                <th>Createtime</th>
                <td>{{ mail.createTime }}</td>
            </tr>
            <tr>
                <th>Updatetime</th>
                <td>{{ mail.updateTime }}</td>
            </tr>
            <tr>
                <th>Sendstatus</th>
                <td>{{ mail.sendStatus }}</td>
            </tr>
            <tr>
                <th>sendTime</th>
                <td>{{ mail.sendTime }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('mail_edit', { 'id': mail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
